root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

[*.el]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[.git/COMMIT_EDITMSG]
max_line_length = 72
indent_style = space
indent_size = 4
